---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';

const projects = (await getCollection('portfolio')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Portfolio | Alan COLANT"
	description="Si vous souhaitez voir une liste de mes dernières réalisations, conceptions, cette page est faites pour vous."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Mon portfolio"
				tagline="Jetez un œil à mes dernières réalisations."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
